<header class="header">
      
    <div class="menu-icon change" data-menu-icon>
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <form class= "form-search"action="">
        <input class=" input-search" type="search" data-input required>
        <i class="fa fa-search"></i>
        <a id="clear-btn"></a>
    </form>
</header>