<aside class="sidebar open" data-sidebar>  
    <hr>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white <% if(Page == 'Home'){%> active <% } %> " aria-current="page" style="display: flex;">
          <span class="bi bi-house" style="padding-right: 10px" ></span>
          Home
        </a>
      </li>
      <li>
        <a href="/upload" class="nav-link text-white  <% if(Page == 'Upload'){%> active <% } %>" style="display: flex;">
          <span class="bi bi-upload"  style="padding-right: 10px"></span>
          Upload
        </a>
      </li>
      <li>
        <a href="/exercises" class="nav-link text-white  <% if(Page == 'Exercises'){%> active <% } %>" style="display: flex;">
          <span class='bi bi-bicycle'  style="padding-right: 10px"></span>              
          Exercises
        </a>
      </li>
      <li>
        <a href="/plans" class="nav-link text-white  <% if(Page == 'Plans'){%> active <% } %>" style="display: flex;">
          <span class='bi bi-collection-play' style="padding-right: 10px"></span>
          Plans
        </a>
      </li>
      <li>
        <a href="/client" class="nav-link text-white  <% if(Page == 'Costumers'){%> active <% } %>" style="display: flex;">
          <span class='bi bi-people-fill' style="padding-right: 10px"></span>
          Customers
        </a>
      </li>
      <li>
        <a href="/test" class="nav-link text-white  <% if(Page == 'Test'){%> active <% } %>" style="display: flex;">
          <span class='bi bi-people-fill' style="padding-right: 10px"></span>
          test
        </a>
      </li>
    </ul>
  </aside>