<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Plans'}) -%>
      <main >
      <div class="content">
        <form action="/plans/create" method="post">
           
                name: <input type="text" name="name" value="" /><br><br>
                difficulty: <input type="text" name="difficulty" value="" /><br><br>
                <input type="submit" value="accept"/><br><br><hr>

        </form>
        
       </div>
        
    
        
      </main>
    </div>
    
    <%- include('modules/footer') -%>