<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Home'}) -%>
      <main >
          <div class=" content" data-content style="text-align: center;  padding-top: 50%;

          padding-left:50%;" >
            <h1>Show some statistics here!</h1>
          </div>
        </main>
      </div>
<%- include('modules/footer') -%>