<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Home'}) -%>
      <main >
          <div class=" content" >
          </div>
        </main>
      </div>
<%- include('modules/footer') -%>