<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      
      <%- include('modules/sidebar', {Page : 'Test'}) -%>
      <main data-content>
        <div class="chatBot-parent">
          <div class="chatbot-header">
            <img class="chatbot-icon" src="/images/Profileicon.png">
            <span class="chatbot-name">Cliente 1</span>
            <span class="online">
                          Online
                          <span class="online-animation"></span>
            </span>
          </div>
          <div class="chatbot-body">
            <ul class="messages-holder">
              <li class="bot-message first">
                <div class="message-holder-left">
                  <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur.
                  </div>
                  <div class="message-time">
                    Today, 12:07 PM
                  </div>
                </div>
              </li>
              <li class="user-message first">
                <div class="message-holder-right">
                  <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur.
                  </div>
                  <div class="message-time">
                    Today, 12:08 PM
                  </div>
                </div>
              </li>
              <li class="bot-message first">
                <div class="message-holder-left">
                  <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur.
                  </div>
                  <div class="message-time">
                    Today, 12:08 PM
                  </div>
                </div>
              </li>
              <li class="bot-message first">
                <div class="message-holder-left">
                  <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur.
                  </div>
                  <div class="message-time">
                    Today, 12:07 PM
                  </div>
                </div>
              </li>
              <li class="user-message first">
                <div class="message-holder-right">
                  <div class="message">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, consequuntur.
                  </div>
                  <div class="message-time">
                    Today, 12:07 PM
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="input-block">
            <div class="input">
              <div class="send-message-icon">
                <img class="send-icon" src="https://png.icons8.com/color/40/000000/paper-plane.png">
              </div>
              <input class="user-input" id="user-input" placeholder="Enter Something..">
            </div>
          </div>
        
      </main>
      
    </div>
    
<%- include('modules/footer') -%>