<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    
   <!-- Bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      img {
        width: 200px;
        height: 175px;
      }
      :root{
        --header-height: 50px;
        --sidebar-width: 250px:
      }
      .header{
        position: fixed;
        min-width: auto;
        box-shadow: var(--bs-sm);
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5050;
        background-color: white;
        width: 100%;
        height: var(--header-height);
      }
      .test{
        background:none;
        border:none;
        padding:0;
        
      }
      .card{
        width: 250px; 
        border-radius: 50px
      }
      .sidebar{
        position: fixed;
        top: 0;
        margin-top: var(--header-height);
        flex-shrink: 0;
        width: 250px;
        border:1px solid black;
        display: flex;
        flex-direction: column;
        height: calc(100vh - var(--header-height));
        overflow-y : auto;
        background-color: #333;
      }
      .container2{
        display: flex;
        position: relative;
        width: 100%;
      }
      .content{
        padding-left: 250px;
        margin-left: var(--sidebar-width);
        margin-top: var(--header-height);
        overflow-x: hidden;
      }
      .nav-link:hover{
        background-color: #0d6efd;
      }
      
      
    </style>
  </head>
  <body style="background-color: #ddd; overflow:auto;">    
    <header class="header">
      <div> NAVBAR</div>
    </header>
    <div class="container2">
      <aside class="sidebar">  
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link text-white" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="/upload" class="nav-link text-white active">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Upload
            </a>
          </li>
          <li>
            <a href="/exercises" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Exercises
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
      </aside>
      <main >  
        <div class=" content" >
          <div class="row">
            <h1 class=" display-4 my-4">Mongo File Uploads</h1>
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                <input type="text" name="names" class="form-control" aria-label="name" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Area</span>
                <input type="text" name="area" class="form-control" aria-label="area" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Difficulty</span>
                <input type="text" name="difficulty" class="form-control" aria-label="difficulty" aria-describedby="inputGroup-sizing-sm">
              </div>
                                                  
              <div class="custom-file mb-3">
                <input type="file" name="file" id="file" class="custom-file-input">
                <label for="file" class="custom-file-label">Choose File</label>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </form>
          </div>
        </div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>