<%- include('modules/header') -%>
  <body >    
    <%- include('modules/navbar') -%>
    <div class="container-flex">
      <%- include('modules/sidebar', {Page : 'Upload'}) -%>
      <main data-content> 
        <h1 class=" display-4 my-4">Upload de Exercícios</h1>
        <div class=" content upload ">
          <div class="row" style="text-align : center">
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                <input type="text" name="names" class="form-control" aria-label="name" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Area</span>
                <input type="text" name="area" class="form-control" aria-label="area" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Difficulty</span>
                <input type="text" name="difficulty" class="form-control" aria-label="difficulty" aria-describedby="inputGroup-sizing-sm">
              </div>
                                                  
              <div class="custom-file mb-3">
                <input type="file" name="file" id="file" class="custom-file-input">
                <label for="file" class="custom-file-label">Choose File</label>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </form>
          </div>
        </div>
      </main>
    </div>
<%- include('modules/footer') -%>