 html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  overflow-X:hidden;
  background: #f0f0f0;
  background-size: 400% 400%;
      animation: gradient 20s ease infinite;

}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  position:fixed;
  top:var(--header-height);
  left:var(--sidebar-width);
  bottom: 0px;
  width : calc(100vw - var(--sidebar-width));
  /* height: calc( 100vw - var(--header-height)); */
  overflow-y: auto;
  transition: all var(--sidebar-animation-time) var(--sidebar-animation-curve);
}

main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

main::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3d3d3d;
}


aside{
  
  font-variant: small-caps;
}
.display-4{
  text-align: center;

}

.avatar {
  cursor: pointer;
  position: fixed;
  vertical-align: middle;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar-img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.avatar-dropdown{
  top: calc(var(--header-height) + 10px);
  right: 10px;
  position: fixed;
  width: 250px;
  height: 0px;
  background-color: #2d2f3188 ;
  transition: all var(--sidebar-animation-time) var(--sidebar-animation-curve);
}
.avatar-dropdown.open{
  height: 200px;
}
.div-image {
  position: relative;
  width: 100%;
  height: 180px;

}
.img-card {
  position: absolute;
  width: 100%;
  height: 180px;
}


:root{
  --header-height: 60px;
  --sidebar-width: 200px;
  --sidebar-animation-time: 0.2s;
  --sidebar-animation-curve: ease-in-out;
}
.header{
  position: fixed;
  min-width: auto;
  box-shadow: var(--bs-sm);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5050;
  background-color: #222;
  height: var(--header-height);
}
.test{
  background:none;
  border:none;
  padding:0;
  
}

.check {
  padding: 5px;
  border: 2px solid red; 
  background-color:black;
}
.wrapper {
  height: 60%;
  width: 100%;
  height: 100vh;
  align-items: center;
}
.detailedPlan {

/* 
    width: 130px;
    height: 130px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: gray;
    border-radius: 100%; 
      top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
    */
    position: absolute;
    padding: 6rem 3rem 6rem 6rem;
    background: #fff;
    max-width: 400px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    
}

.cc{
  position: absolute;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 150px;

  margin-top: 100px;
}

.bck-btt{

  position: relative;
  align-items: center;
}
.card{
  width: 300px;
  padding: 0%;
  cursor: pointer;
  width: 240px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  border-radius: 0.25em;
}
  
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.card-footer{
  border-top: none;
  padding: 1rem 0rem 1rem 1rem;
  background-color: inherit;
  display: flex;
  align-items: center;
}
.vfi {
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem "vdm";
  display: inline-block;
  color: #212529; 
}
.vfi-fleche-droite:before {
  content: ""; 
}

/* .card:hover{
  background-color: #0d6efd;
  color : white;
  border: 1px solid black;

} */
.sidebar{
  position: fixed;
  overflow-x: hidden;

  margin-top: var(--header-height);
  flex-shrink: 0;
  width: 0px;
  
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  overflow-y : auto;
  overflow-x : hidden;
  background-color: #222;
  transition: width var(--sidebar-animation-time) var(--sidebar-animation-curve);}
.sidebar.open{
  width: var(--sidebar-width);
}
.container-flex{
  display: flex;
  position: relative;
  width: 100%;
}
.conteiner-grid{
  display:grid;
  grid-template-columns: 300px 300px 300px;
}
.content{
  position: absolute;
  width: 100%;
  display:grid;
  
  padding: 1rem 0rem 2rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(235px,235px));
  gap:50px;
  grid-auto-flow: row; 
  margin-top: var(--header-height);
  
}
.content.upload{
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;

}
main.open{
  width : 100vw;
  left: 0px;
}

.grid-table{
  position: absolute;
  top: 100px;
  width : calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--header-height));
  left : var(--sidebar-width);
  display:grid;
  grid-template-columns: 50px 30vw 20vw 20vw;
  grid-template-rows: repeat(auto-fill, minmax(35px,60px));
  grid-auto-flow: row; 
  margin-top: var(--header-height);
  overflow-x: hidden;
  overflow-x: hidden;
  transition: all var(--sidebar-animation-time) var(--sidebar-animation-curve);
  border-color: #07051a;
}

.grid-table.open{
  width : 100vw;
  left: 0px;
}
.nav-link:hover {
  background: linear-gradient(to right, #666, #222222);
}
.nav-pills .nav-link.active{
  background: linear-gradient(to right, #666, #222222);
}

/* sidebar Icon */
.menu-icon {
  width: 55px;
  height: 50px;
  padding-left: 10px;  
  padding-top: 10px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #aaa;
  margin: 6px 0;
  transition: var(--sidebar-animation-time);
}
.menu-icon:hover .bar1, .menu-icon:hover .bar2, .menu-icon:hover .bar3{
  background-color: #666;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* input Search bar */
.form-search{
  position: fixed;
  top:30px;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  
}
 
.input-search{
  top: 0;
  left: 0;
  width: 100%;;
  height: 35px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 0.1s;
}

.form-search:hover,
.form-search:valid{
  width: 200px;
  cursor: pointer;
}

.form-search:hover input,
.form-search:valid input{
  display: block;
}

.form-search:hover .fa,
.form-search:valid .fa{
  background: #07051a;
  color: white;
}


.a {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

.form-search:valid a {
display: block;
}

/* Dropdown query button */

.dropdown-h1 {
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
}

.dropdown-li .dropdown-a {
  text-decoration: none;
  color: #2d2f31;
  text-align: center;
}
.dropdown-nav {
  width: 100%;
  background: #d9d9d9;
}

.dropdown-span {
  position: relative;
  padding: 30px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  width: 300px;
}

.dropdown-span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  position: fixed;
  background-color: #666;
  list-style: none;
  padding-left: 0%;
  clear: both;
  width: 300px;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
}

.slide .dropdown-li {
  padding: 30px;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 300px;
}

/* Query selector area */

.query-selector{
  position: fixed;
  overflow-x: hidden;
  right: 0;
  margin-top: var(--header-height);
  flex-shrink: 0;
  width: 0px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  overflow-y : auto;
  overflow-x : hidden;
  background-color: #222;
  transition: width var(--sidebar-animation-time) var(--sidebar-animation-curve);
}
.query-selector.open{
  width: 300px;
}

.filter-button{
  position: absolute;
  background-color: #666;
  width: 100%;
  height : 100px;
  bottom: 0;
  text-align: center;
  padding-top: 26px;
  cursor: pointer;
  font-size: 2em;
  font-variant: small-caps;
}

.filter-img {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 5px;
  cursor: pointer;
  transition: right var(--sidebar-animation-time) var(--sidebar-animation-curve);
}
.filter-img.open {
  right: 305px;
}
/* CREATE PLAN  */
.timeline {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: var(--sidebar-width);
  height: 200px;
  background-color: #07051a;
  transition: left var(--sidebar-animation-time) var(--sidebar-animation-curve);

}
.timeline.open {
  left:0;
}

.draggable{
  cursor: move;
}

.dragging{
  opacity: 50%;
}

/* teste */

.chatbot-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.chatbot-body::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.chatbot-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3d3d3d;
}

.pageHolder {
  height: 100vh;
  width: 100vw;
  background: #f1f1f1;
}

.chatBot-parent {
  background: #ffffff;
  width: 319px;
  height: 47vh;
  position: fixed;
  top: 53%;
  right: 20px;
  transform: translate(0%, -5%);
  border-radius: 12px;
  box-shadow: 5px 5px 25px 0 rgb(46 61 73 / 50%);
}

.chatbot-header {
  width: auto;
  background: #3d3d3d;
  height: 50px;
  text-align: center;
  position: relative;
  color: white;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.chatbot-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  border-radius: 50%;
  background: white;
  border: 2px solid #8bc34a;
}

.chatbot-name {
  position: relative;
  top: 10px;
  left: -20px;
}

.online::before {
  content: "";
  position: absolute;
}

.online {
  font-size: 10px;
  right: 20px;
  position: absolute;
  top: 10px;
}

.online-animation {
  animation: blinkingText 1s infinite;
  position: absolute;
  width: 5px;
  height: 5px;
  right: -7px;
  top: 0px;
  border-radius: 50%;
  background: #8bc34a;
}

@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.chatbot-body {
  position: absolute;
  width: 100%;
  height: calc(100% - 40px);
  border-radius: 0px 0px 12px 12px;
  background: #525252;
  overflow-y: auto;
}

.messages-holder {
  list-style: none;
  margin: 0px;
  padding: 0px 0px 300px 0px;
}

.bot-message,
.user-message {
  clear: both;
}

.message-holder-left,
.message-holder-right {
  padding: 8px;
  max-width: 80%;
  border-radius: 8px;
  margin: 10px;
  position: relative;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45);
}

.message-holder-left:before,
.message-holder-right:before {
  bottom: 0%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 10px;
  border-radius: 7px;
}

.message-holder-left:before {
  left: 0%;
  margin-left: -10px;
  border-bottom-color: #ffffff;
}

.message-holder-right:before {
  right: 0%;
  margin-right: -10px;
  border-bottom-color: #f1f1f1;
}

.message-holder-left {
  float: left;
  background: #ffffff;
  color: #3d3d3d;
}

.messageAmimation {
  animation: 1s ease-out 0s 1 messageAnimation;
}

.message-holder-right {
  float: right;
  background: #f1f1f1;
  color: #000000;
}

.message {
  font-size: 15px;
}

.message-time {
  float: right;
  font-size: 11px;
  color: #949494;
}

.input-block {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.user-input {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  position: relative;
  border: 1px solid #dbe2e8;
  color: #2e3d49;
  max-width: 50rem;
  outline: none;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 8px;
  display: block;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}

.send-message-icon {
  position: relative;
}
.send-icon {
  position: absolute;
  z-index: 2;
  right: 14px;
  top: 5px;
  background: #3d3d3d;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}

.send-icon:hover {
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.5);
}

@keyframes messageAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.loading-dots {
  text-align: center;
  z-index: 5;
}

.dot {
  opacity: 0;
  animation: showHideDot 2.5s ease-in-out infinite;
}

.one {
  animation-delay: 0.2s;
}

.two {
  animation-delay: 0.4s;
}

.three {
  animation-delay: 0.6s;
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button {
  display: block;
  position: relative;
  margin: 10px 4px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #007144;
}
.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}
.btnBlueGreen {
  background: #00ae68;
  float: left;
}

.btnOrange {
  background: #ffaa40;
}
.btnOrange.btnPush {
  box-shadow: 0px 5px 0px 0px #a66615;
  float: right;
}
.btnOrange.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #a66615;
}
img.chatbot-icon {
  width: 40px;
}