 html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow:auto;
  background: linear-gradient(to right, #aaa, #ddd);
}
aside{
  
  font-variant: small-caps;
}
.img-card {
  position: inherit;
  width: 240px;
  height: 180px;
  transition: all 0.5s ease;
}
.img-card:hover {
  width: 260px;
  height: 195px;
}

:root{
  --header-height: 60px;
  --sidebar-width: 200px;
  --sidebar-animation-time: 0.2s;
  --sidebar-animation-curve: ease-in-out;
}
.header{
  position: fixed;
  min-width: auto;
  box-shadow: var(--bs-sm);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5050;
  background-color: #222;
  height: var(--header-height);
}
.test{
  background:none;
  border:none;
  padding:0;
  
}

.check {
  padding: 5px;
  border: 2px solid red; 
  background-color:black;
}

.card{
  width: 300px; 
  cursor: pointer;
  background-color: #00000000;
  border: none;
}
/* .card:hover{
  background-color: #0d6efd;
  color : white;
  border: 1px solid black;

} */
.sidebar{
  position: sticky;
  overflow-x: hidden;
  top: 60px;
  margin-top: var(--header-height);
  flex-shrink: 0;
  width: 0px;
  
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  overflow-y : auto;
  overflow-x : hidden;
  background-color: #222;
  transition: width var(--sidebar-animation-time) var(--sidebar-animation-curve);}
.sidebar.open{
  width: var(--sidebar-width);
}
.container-flex{
  display: flex;
  position: relative;
  width: 100%;
}
.conteiner-grid{
  display:grid;
  grid-template-columns: 300px 300px 300px;
}
.content{

  display:grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  gap:50px;
  grid-auto-flow: row; 
  margin-top: var(--header-height);
  overflow-x: hidden;
}
.nav-link:hover {
  background: linear-gradient(to right, #666, #222222);
}
.nav-pills .nav-link.active{
  background: linear-gradient(to right, #666, #222222);
}

/* sidebar Icon */
.menu-icon {
  width: 55px;
  height: 50px;
  padding-left: 10px;  
  padding-top: 10px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #aaa;
  margin: 6px 0;
  transition: var(--sidebar-animation-time);
}
.menu-icon:hover .bar1, .menu-icon:hover .bar2, .menu-icon:hover .bar3{
  background-color: #666;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* input Search bar */
.form-search{
  position: fixed;
  top:30px;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  
}
 
.input-search{
  top: 0;
  left: 0;
  width: 100%;;
  height: 35px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 0.1s;
}

.form-search:hover,
.form-search:valid{
  width: 200px;
  cursor: pointer;
}

.form-search:hover input,
.form-search:valid input{
  display: block;
}

.form-search:hover .fa,
.form-search:valid .fa{
  background: #07051a;
  color: white;
}


.a {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

.form-search:valid a {
display: block;
}

/* Dropdown query button */

.dropdown-h1 {
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
}

.dropdown-li .dropdown-a {
  text-decoration: none;
  color: #2d2f31;
  text-align: center;
}
.dropdown-nav {
  width: 100%;
  background: #d9d9d9;
}

.dropdown-span {
  position: relative;
  padding: 30px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
  width: 300px;
}

.dropdown-span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  position: fixed;
  background-color: #666;
  list-style: none;
  padding-left: 0%;
  clear: both;
  width: 300px;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
}

.slide .dropdown-li {
  padding: 30px;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 300px;
}

/* Query selector area */

.query-selector{
  position: fixed;
  overflow-x: hidden;
  right: 0;
  margin-top: var(--header-height);
  flex-shrink: 0;
  width: 0px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  overflow-y : auto;
  overflow-x : hidden;
  background-color: #222;
  transition: width var(--sidebar-animation-time) var(--sidebar-animation-curve);
}
.query-selector.open{
  width: 300px;
}

.filter-button{
  position: absolute;
  background-color: #666;
  width: 100%;
  height : 100px;
  bottom: 0;
  text-align: center;
  padding-top: 26px;
  cursor: pointer;
  font-size: 2em;
  font-variant: small-caps;
}

.filter-img {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 5px;
  cursor: pointer;
  transition: right var(--sidebar-animation-time) var(--sidebar-animation-curve);
}
.filter-img.open {
  right: 305px;
}