@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;

  overflow:auto;
}
main{
  min-height: 90vh;
  
  
}
.content{
  
  width: 100%;
  display:grid;
  
  padding: 1rem 0rem 2rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px,300px));
  gap:50px;
  grid-auto-flow: row; 
  margin-top:45px;
  
}



